
.jumbotron { 
    background-color:#000f70;
    color: #ffffff;
    padding:100px 25px;
}

.jumbotron h1{
  font-family: 'Roboto', sans-serif;
  font-size:50px;
  /*font-weight:bold;*/
}

.jumbotron p{
  font-size:25px;
  font-family:'Roboto Condensed',sans-serif;
}



.container-fluid {
  padding:60px 50px;
}

.container-fluid p {
  font-family:'Roboto Condensed', sans-serif;
  font-size: 18px;
  margin-top:30px;
}

.bg-grey {
    background-color: #f6f6f6;
}
.row {
  padding-bottom: 50px;
}

/*
.bg-myimage {
    background-image:url(FrontPage_1.png);
    background-repeat:no-repeat;
}
*/
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.btn:hover {
    border: 1px solid black; /* #f4511e;*/
    background-color: #fff !important;
    color: black; /*#f4511 */
}


.navbar {
    margin-bottom: 0;
    background-color: #000f70;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
